.den
{
    width: 40px;
    height: 40px;
    background: darkgrey;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -3px;

}
.den-bao
{
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid #a9a9a9;
    width: 51px;
}