.path{
    text-align: center
}
.divider
{
    height: 1px;
    width: 100%;
    background: rgba(0 ,0,0,0.2);
    margin:15px auto;
    position: relative;
}
.round-button
{
    cursor: pointer;
    background: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border:1px solid rgba(0 ,0,0,0.3);
    position: absolute;
    right:0;
    top:-12px;
    padding: 3px;
}
.data-view-container
{
    overflow: hidden;
}
.quy-trinh
{
    cursor: pointer;
}
.quy-trinh:hover
{
    background:rgba(0 ,0,0,0.1);
}