.slot-container
{
    min-height: 212px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 60%;
    margin: 15px auto;
    position: relative;
    padding: 15px;
}
.background-icon
{
    top:0;
    position: absolute;
    width: calc(100% - 30px)!important;
    height: calc(100% - 15px)!important;
    color: aliceblue;
}
.cancel-icon
{
    position: absolute;
    top: -10px;
    right: -10px;
}
.cancel-icon svg
{
    color:rgba(0, 0, 0, 0.5);
    font-size: 30px!important;
    cursor: pointer;
}