.camera-name
{
    font-size: 1.6em;
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    bottom: 0;
    right: 0;
    text-align: center;
}
.camera-view
{
    position: relative;
    display: inline-block;
}