.menu
{
    padding:0px;
    border-bottom: 1px solid rgba(0,0,0,0.3);

}
.child-menu
{
    padding:0 30px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    cursor: pointer;

}
.menu-title{
    padding:10px;
    font-weight: bold;
}
.child-title{
    padding:0 3px;
}
.selected
{
    background-color:steelblue;
    color:white;
}
.vai-tro{
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.vai-tro:hover{
    background-color:rgba(70,130,180,0.5);
}
.vai-tro-title{
    font-size: 1.3em;
    letter-spacing: 1px;
    padding: 10px;
    font-weight: bold;
    color:rgba(0,0,0,0.4);
}