.bienSo
{
    font-size: 1.4em;
    line-height: 1;
    font-weight: bold;
    word-wrap: break-word;
    text-align: center;
}
.tittle
{
    font-size: 18px;
    font-weight: 600;
}
.button-div
{  
    text-align: center;

}