.forest
{
    width:1000px;
    height:500px;
    margin:0 auto;
    position: relative;
    background: url('2.jpg');
    overflow:hidden;
}
.fireflies
{
    transition-timing-function: linear;
    border-radius: 50%;
    position: absolute;
    background: lime;
    box-shadow: 0 0 20px 8px lime;
}
